{
  "overrides": [
    {
      "files": "*.scss",
      "options": {
        "singleQuote": true,
        "tabWidth": 2,
        "printWidth": 800,
        "bracketSpacing": true,
        "bracketSameLine": true
      }
    }
  ]
}
