@import './variables';

@mixin font-size($size) {
  @if $size == 200 {
    font-size: $fs-200;
    line-height: $lh-small;
  }
  @if $size == 300 {
    font-size: $fs-300;
    line-height: $lh-small;
  }
  @if $size == 400 {
    font-size: $fs-400;
    line-height: $lh-small;
  }
  @if $size == 500 {
    font-size: $fs-500;
    line-height: $lh-small;
  }
  @if $size == 600 {
    font-size: $fs-600;
    line-height: $lh-large;
  }
  @if $size == 700 {
    font-size: $fs-700;
    line-height: $lh-large;
  }
  @if $size == 800 {
    font-size: $fs-800;
    line-height: $lh-large;
  }
  @if $size == 900 {
    font-size: $fs-900;
    line-height: $lh-large;
  }
}

@mixin flow($margin) {
  > * + * {
    margin-top: $margin;
  }
}

@mixin underlined($color, $padding: 1em) {
  > * {
    cursor: pointer;
    border-bottom: 0.2rem solid transparent;
    padding: $padding 0;
    &:hover {
      border-color: rgba($color, 0.2);
    }
    &.active {
      border-color: $color;
    }
  }
}
