.container {
  width: 80%;
  padding-inline: 2em;
  margin-inline: auto;
}

.flex {
  display: flex;
  flex-direction: var(--flex-direction, 'row');
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}
